/* #ifndef APP-NVUE */
@font-face {
	font-family: lunfont;
	src: url('~@/static/iconfont.ttf');
}
*{
	box-sizing: border-box;
}
page{
	height: 100%;
}
view{
	box-sizing: border-box;
}
/* #endif */
.page{
	flex: 1;
	height: 100%;
}
.bg-gray{
	background-color:#f8f8f9;
}
.margin-top-10{margin-top: 20rpx;}

/* 详情页 */
.page-banner {
	width: 750rpx;
	height: 420rpx;
}
.page-warp{
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: column;
	padding: 0 30rpx;
}

.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.detail-title{
	font-size: 38rpx;
	font-weight: 700;
	line-height: 44rpx;
	padding-top: 20rpx;
	padding-bottom: 20rpx;
}
.detail-content{
	font-size: 32rpx;
	color: #333333;
	line-height: 52rpx;
}
.ep{
	margin-bottom: 30rpx;
}
.content-padded{
	padding: 30rpx 60rpx;
}
.searchbar{
	/* #ifndef APP-PLUS-NVUE */
	display: flex;
	/* #endif */
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: #ffffff;
	
}
.searchbar-fixed{
	position: fixed;
	width: 100%;
}
.searchbar-city{
	/* #ifndef APP-PLUS-NVUE */
	display: flex;
	/* #endif */
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-left: 30rpx;
}
.searchbar-city-text{
	font-size: 28rpx;
}
.searchbar-input-view {
	/* #ifndef APP-PLUS-NVUE */
	display: flex;
	/* #endif */
	flex-direction: column;
	flex: 1;
}
.text-danger{
	color: #dc3545;
}
.text-warning{
	color: #ff7900;
}
.text-blue{
	color: #007bff;
}
.text-success{
	color: #19be6b;
}
.text-muted {
    color: #6c757d;
}
.footer-center-btn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100rpx;
}

