@font-face {
  font-family: "lunfont"; /* Project id 3766356 */
  src: url('~@/static/iconfont.ttf') format('truetype');
}

.lunfont {
  font-family: "lunfont" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baoxian:before {
  content: "\e602";
}

.icon-locationfill:before {
  content: "\e650";
}

.icon-taxi:before {
  content: "\e65d";
}

.icon-send:before {
  content: "\e675";
}

.icon-shop:before {
  content: "\e679";
}

.icon-shopfill:before {
  content: "\e697";
}

.icon-discoverfill:before {
  content: "\e6ba";
}

.icon-activity:before {
  content: "\e6c5";
}

.icon-service:before {
  content: "\e6ff";
}

.icon-servicefill:before {
  content: "\e737";
}

.icon-repairfill:before {
  content: "\e73a";
}

.icon-activityfill:before {
  content: "\e775";
}

.icon-circlefill:before {
  content: "\e7b0";
}

.icon-map:before {
  content: "\e677";
}

.icon-search:before {
  content: "\e67d";
}

.icon-phone:before {
  content: "\e652";
}

.icon-ticket:before {
  content: "\e678";
}

.icon-discover:before {
  content: "\e683";
}

.icon-form:before {
  content: "\e699";
}

.icon-pay_error:before {
  content: "\e60c";
}

.icon-pay_success:before {
  content: "\e605";
}

.icon-baoming:before {
  content: "\e673";
}

.icon-kongshuju:before {
  content: "\e735";
}

.icon-share:before {
  content: "\e8b0";
}

.icon-electronics:before {
  content: "\e66e";
}

.icon-filter:before {
  content: "\e672";
}

.icon-link:before {
  content: "\e676";
}

.icon-time:before {
  content: "\e681";
}

.icon-weizhichangdi:before {
  content: "\e6a9";
}

.icon-vip-fill:before {
  content: "\ea3d";
}

